.dsmeta-card{
    
    background-color: #271a45;
    border-radius: 15px;
    padding: 30px 10px;
    min-width: 250px;


 }

.dsmeta-form-control{
    width: 100%;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #1b2531;
    background-color: #000814;
    color:#ffffff;
    padding: 0 20px;
    font-size: 18px;


}
.dsmeta-form-control-input{
    max-width: 300px;
    margin-bottom: 16px;
}
.dsmeta-aplication-table{

    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.dsmeta-aplication-table thead{

    height:5px;
    font-size: 16px;
    font-weight: 700;

}
.dsmeta-aplication-table tbody{

    font-size: 14px;
    font-weight: 400;
    color: #CFCFCF;
    text-align: center;

}
.dsmeta-aplication-table tbody tr{
    height: 14px;
    border-top: 1px solid #5f6e82;
    background-color: #102347;
}

.dsmeta-aplication-table tbody tr:nth-child(odd){

    background-color: #040d1f;
}
.dsmeta-aplication-table tbody tr:hover{

    background-color: #6783bb;
}


.mostrar576px{
    display: none;
}
.mostrar992px{
   display: none; 
}

@media (min-width: 576px){
    .mostrar576px{
        display: table-cell;
    }
    .dsmeta-aplication-table tbody{
        font-size: 20px;
    }
    .dsmeta-aplication-table tbody tr{

        height: 55px;
    }

}
@media (min-width: 996px) {
    .mostrar992px{
        display: table-cell;
    }
    
}